<form class="login-form">
    <div>
        <label for="title-blog">Post Title:</label>
        <input type="text" id="title-blog" />
    </div>
    <div>
        <label for="text-blog">Post Information:</label>
        <textarea type="text" id="text-blog"></textarea>
    </div>
    <div>
        <label for="post_url-blog">Post Url:</label>
        <input type="post_url" id="post_url-blog" />
    </div>
    <div>
        <label for="user_id">User Id Number:</label>
        <input type="user_id" id="username" />
    </div>
    <div>
        <button type="submit">Create New Post</button>
    </div>
</form>
<script src="/javascript/blog.js"></script>