<form class="signup-form">
    <div>
        <label for="username-signup">username:</label>
        <input type="text" id="username-singup" />
    </div>
    <div>
        <label for="password-">password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit">signup</button>
    </div>
</form>