<div class="wrapper">
    <header>
        <nav>
            <a href="/signedin">Home</a>
            <a href="/posted">Dashboard</a>
            <a href="/logout">Logout</a>
        </nav>
        <h1>
            The Tech Blog
        </h1>
    </header>
    <main>
        
    </main>
</div>