<form class="update-form">
    <div>
        <label for="title-update">Post Title:</label>
        <input type="text" id="title-update" />
    </div>
    <div>
        <label for="text-update">Post Text:</label>
        <textarea type="text" id="text-update"></textarea>
    </div>
    <div>
       <label for="post_url-update">Post Url:</label>
       <input type="text" id="post_url-update" /> 
    </div>
    <button type="submit">Update</button>
</form>

<form class="delete-form">  
    <div>
        <label for="delete-update">Title of Post To Be Deleted</label>
        <input type="text" id="delete-update" />
    </div>
    <button type="submit">Delete</button>
</form>

<script src="/javascript/update.js"></script>